@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');

:root {
    --primary: skyblue;
    --dark: black;
    --body: black;
}

body {
    font-family: 'Playfair Display', serif;
    line-height: 1.7;
    color: var(--body);
}

h1, h2, h3, h4, h5, h6, 
.display-4 {
    color: var(--dark);
}

a {
    color: var(--dark);
    text-decoration: none;
}

.hero {
    background-image: url(/images/coverimage.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.card-effect {
    box-shadow: var(--box-shadow);
    background-color: #fff;
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
}

.icon {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: #fff;
    font-size: 22px;
    border-radius: 100px;
}